

#need_basket_container{
    width: 87%;
    /* height: 440px; */
    margin: auto;
    margin-top: 2%;
    margin-bottom:70px;
    font-family: sans-serif;
    /* font-family: Lato,calibri,sans-serif; */
}
#basket{
    margin: auto;
width: 100%;
/* height: 300px; */
display: flex;
gap:1%;
}

@media screen and (min-width:0px) and (max-width:768px){
    #basket{
        display: grid;
        margin: auto;
    grid-template-columns: repeat(2,50%);
    /* grid-template-rows: repeat(2,45%); */
    grid-template-areas: 
    "a b"
    "c d";
     gap: 1.5%;
    }
    #advertise{
        display: grid;
        grid-template-columns: repeat(3,30%);
        
        grid-template-areas: 
        "i j k"
        "l m .";

    }
    #advertise>div>i,#advertise>div>p{
        display: none;
    }
    #footer_container{
        display: none;
    }
}

@media screen and (min-width:200px) and (max-width:450px) {
  
    
}


#head{
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: auto;
    font-family: sans-serif;
}
#basket>div>img{
    width: 100%;
    height: 100%;
    cursor: pointer;    
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#basket_btn{
    background-color: #a3bb00;
    width: 110px;
    height: 40px;
    border:transparent;
    cursor: pointer;
    border-radius:40px;
    padding: 10px 20px;
    color: white;
}
#advertise>div:nth-child(1){
    grid-area: i;

}
#advertise>div:nth-child(2){
    grid-area: j;
}
#advertise>div:nth-child(3){
    grid-area: k;
}
#advertise>div:nth-child(4){
    grid-area: l;
}
#advertise>div:nth-child(5){
    grid-area: m;
}
#advertise{
    margin: auto;
    width: 90%;
    display: flex;

}
#advertise>div{
    /* width: 20%; */

    /* border-right: 1px solid rgb(194, 193, 193); */
    /* height:60px; */
    margin: auto;
    display: flex;
    justify-content:space-around;
    font-family: sans-serif;
    font-size: 13px; 
}
#basket>div:nth-child(1){
grid-area: a;
}
#basket>div:nth-child(2){
grid-area: b;
    }
    #basket>div:nth-child(3){
        grid-area:c;
        }
        #basket>div:nth-child(4){
        grid-area:d;
            }
.logo{
    color: #a3bb00;
    font-size: 25px;
      margin-right: 10px;
    margin-top: 8%;
}
.dark{
    color: #a3bb00;
    font-weight:bolder;
    font-size: 15px;
}
.dark1{
    color: rgba(60, 60, 199, 0.863);
    font-weight:bolder;
    font-size: 18px;
}
.logo1{
    color: rgba(60, 60, 199, 0.863);
   font-size:25px;
   margin-top: 6%;
   margin-right: 5px;
}

#footer_container{
        width: 87%;
    margin: auto;
    font-family: sans-serif;
    line-height: 20px;
}
#footer_container>p>a{
text-decoration: none;
color: #877070;
}
#footer_container>p{
    color: #877070;
}
.hd{
    color: black;
}

#footer_end{
    width: 87%;
    height: 250px;
    margin: auto;
    display:flex;
    font-family: sans-serif;
}
#footer_end>div{
    width: 25%;
    height: 100%;    
}
#footer_end>div>p{
    display: flex;
    flex-direction: column;  
}

#footer_end>div>p>a{
    text-decoration: none;
    color: #877070;
}

