#header{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4,10% 70% 10% 10%);
  
}
#logo{
    margin-left: 100%;
    padding: 1%;
    width: 10%;
    margin-top: 5%;
    cursor: pointer;
}
#search{
    margin-left: 20%;
    margin-top: 0.5%;
     width: 60%;
     height: 70%;
     border: 0.5px solid black;
     display: flex;
     border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
}

#pin,#country{
   margin-top: 1.8%;
   background-color: #f3f3f3;
   width: 10%;
   border: none;
   text-align: center;
   border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

#searching{
 width: 90%;  
 border: none;
 border-color: gray;
 border-radius: 20px;
 margin-left: 3%;
}

#search_logo{
margin-left: 3%;
width: 8%;
background-color: #85b73e;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
cursor: pointer; 
color: white; 
display: flex;
align-items: center;
justify-content: center;
}

.fa-search{
 font-size: 120%;
 padding: 22%;
 margin-left: 5%;

}

#login{
    margin-top: 10%;
    font-size: 15px;
    margin-right: 0px;
   cursor: pointer;
    
}
#cart-logo{
   margin-left: 2%;
   margin-top: 10%;
   cursor: pointer;
}
.fa-shopping-cart{
    font-size: 150%;
}
#blue_line{
    width: 100%;
    height: 50px;
    background-color: #243168;

}

#items{
  margin-left: 5%;
  display: flex;
}
#items>h3{
  color: white;
  font-size: 15px;
  margin-left: 2%;
  margin-top: 1%;
  font-weight: bold;
  cursor: pointer;
}
h3:hover{
  text-decoration: underline;
  color: #f06d21;
}
.box_food{
  width: 70%;
  height: 530px;
  border: 1px  black;
  margin-left: 15%;
  display: flex;
 
}
.box_food>div{
  width: 23%;
  height: 100%;
  border: 1px  black;
  margin-left: 2%;
}
#food_box{
 display: none;
}
#product_box{
  display: none;
  background-color: white;
}
#boxbybrand{
  height: 800px;
  background-color: white;
  display: none;
 
}
#statitonary_prod{
  width: 20%;
  height: 80px;
  margin-left: 37%;
  display: none;
  background-color: white;
}
#match_box{
  width: 35%;
  height: 40px;
  margin-left: 48%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  display: none;
}
#search>div>p{
  background: none;
  color: gray;
  font-size: 14px;
}
@media only screen and (max-width:1300px){
  #blue_line{
      display: none;
  }
  #header{
      display: grid;
  }
  #logo{
    margin-right: 5%;
    margin-left: 40%;
}
#search_logo{
        width: 15%;
    }
.fa-search{
    font-size: 100%;
}
@media only screen and (max-width:769px){
    #logo>img{
        height: 70%;
    }
    #blue_line{
      display: none;
    }
    #search{
        margin-left: 30%;
    }
    #login{
        font-size:12px
    }
    #search_logo{
        width: 15%;
    }
    #header{
        height: 40px;
        justify-content: space-between;
    }
    
}
@media only screen and (max-width:480px){
    #logo>img{
        height: 50%;
    }
}
}
body{
  font-family: sans-serif;
}
